﻿
body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

* {
    box-sizing: border-box;
}
body{
    background-image:url("A2.jpg");
    background-repeat:no-repeat;
        background-size: cover;
}

input[type=text], input[type=password], input[type=tel], input[type=date], select[id=country] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border:double;
    background: #f1f1f1;
}

    input[type=text]:focus, input[type=password]:focus {
        
        background-color:lightgreen ;
       
        outline: inset;
    }
   

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    button:hover {
        opacity: 1;
    }


    ul{
        list-style-type: none;
        margin: 0;
        overflow-wrap:normal;
        background-color:#333;
            
    }
    li{
        float:left;
        border-right:1px solid #bbb;

    }
    li:last-child{
        border-right: none;
    }

    li a:hover:not(.active){
        background-color:#111;
    }

    li a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration:none
    }
.container {
    padding: 16px;
}
.active{
    background-color:#4CAF50;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}


